.AppCSS {
  margin: auto;
  width: 100%;
  /*border-style: solid;*/
  /*border-color: red;*/
  border-width: 10px;
  /*overflow-y: scroll;*/
  height: 100in;
}
.AppBackground {
  height: 1550;
  width: 100%;
  margin: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /*border-color: orangered;*/
  margin: auto;
  width: 75%;
  /*border-style: solid;*/
  border-width: 10px;
}

.ResumeDataCSS {
  margin: auto;
  width: 75%;
  /*border-style: solid;*/
  /*border-color: yellow;*/
  border-width: 10px;
}

.MuiTableCell-body {
  color: rgba(0, 0, 0, 0.87);
  background: lightgray;
  border-color: black;
}

.MuiTableCell-head {
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.5rem;
  background: #497e98;
  font: veranda;
  font: icon;
  font-weight: bold;
}

.MuiTableCell-root {
    font-weight: bold;
}

.PersonalData {
  border: 3px blue;
  color: pink;
}

.TitleBlockCSS {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 25%;
  margin: auto;
  padding: 2%;
  border: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font: normal normal bold 48px/1 Verdana, Geneva, sans-serif;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: #497e93;
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.3);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transform: rotateY(-360deg);
  display: table-cell;
  vertical-align: middle;
}
